.tab-control {
  display: flex;
  text-align: center;
  font-size: 15px;
  background-color: #fff;
}

.tab-control-item {
  flex: 1;
  height: 40px;
  line-height: 40px;
}

.tab-control-item span{
  padding: 5px;
}

.active span {
  border-bottom: 3px solid var(--color-tint);
}