* {
  margin:0;
  padding:0;
}
.main-tab-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f6f6f6;
  left:0;
  right:0;
  box-shadow: 0 -1px 1px 0 rgba(100, 100, 100, .1);
  z-index:0;
}